// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as AgentaApi from "../../../index.js";

export declare namespace OpenTelemetryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * OTLP-compatible endpoints for ingesting traces directly from OpenTelemetry-instrumented services.
 */
export class OpenTelemetryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OpenTelemetryClient.Options>;

    constructor(options: OpenTelemetryClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {OpenTelemetryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.openTelemetry.otlpStatus()
     */
    public otlpStatus(
        requestOptions?: OpenTelemetryClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.CollectStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__otlpStatus(requestOptions));
    }

    private async __otlpStatus(
        requestOptions?: OpenTelemetryClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.CollectStatusResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "otlp/v1/traces",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.CollectStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentaApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/otlp/v1/traces");
    }

    /**
     * @param {OpenTelemetryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.openTelemetry.otlpIngest()
     */
    public otlpIngest(
        requestOptions?: OpenTelemetryClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.CollectStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__otlpIngest(requestOptions));
    }

    private async __otlpIngest(
        requestOptions?: OpenTelemetryClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.CollectStatusResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "otlp/v1/traces",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.CollectStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentaApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/otlp/v1/traces");
    }
}
